.about-section p {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  max-width: 36em;
  line-height: 1.5;
}

.about-section {
  background-color: #232528;
  color: white;
}