
.header {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  background-color: #1c1e20;
  position: fixed;
  top: 0;
  z-index: 90;
  width: 100%;
  border-bottom: 1px solid #555;
}

#logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
}

/* for some reason the link adds extra size */
#logo a {
  height: 32px;
}

#logo img {
  display: inline-block;
  height: 32px;
}