.intro-section {
  background-image: url('../images/hero.jpg');
  text-align: center;
  height: 750px;
  height: 95vh;
  color: white;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #1c1e20;
}

#text-block {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  width: 60%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  bottom: 30px;
  left: auto;
  padding-top: 5px;
}

#text-block p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#text-block button {
  cursor: pointer;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
  border-radius: 3px;
  padding: 10px 15px 5px;
  margin-bottom: 15px;
  transition: 0.7s;
}

#text-block button:hover {
  background-color: #ccc;
  color: black;
  border: 1px solid black;
}

@media only screen and (max-width: 430px) {
  #text-block {
    width: 90%;
    background-color: rgba(0, 0, 0, 0.6);
  }
}