.header nav {
  padding-top: 15px;
  padding-bottom: 15px;
}

nav ul {
  display: flex;
  padding-left: 0;
}

nav li {
  list-style: none;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

nav a {
  text-decoration: none;
  color: #EAF6FF;
  font-size: 1.1em;
  cursor: pointer;
}

nav a:hover {
  /* color: #009FFD; */
  border-bottom: 1px solid #EAF6FF;
  /* transition: 0.4s; */
}

@media only screen and (max-width: 420px) {
  nav a  {
    font-size: 1em;
  }
}

@media only screen and (max-width: 370px) {
  .nav-projects {
    display: none;
  }
}