
.project-card {
  display: grid;
  grid-template-columns: 40% auto;
  /* grid-template-rows: repeat(2, auto); */
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 3px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  white-space: pre-line;
}

li .project-card {
  margin: 12px;
}

.project-card h3,
.project-card h4 {
  padding-top: 0px;
  margin-bottom: 5px;
}

.project-card h3 {
  grid-column: span 2;
  text-align: center;
}

.project-card img {
  width: 100%;
}

.project-info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  height: auto;
  flex-basis: 1;
}

.project-info p {
  text-align: left;
  margin-left: 20px;
  margin-top: 5px;
}

.project-info ul {
  margin-top: 0px;
}

.project-links {
  display: flex;
  margin-top: auto;
  width: 100%;
}

.project-button {
  color: black;
  background-color: white;
  border: 1px solid black;
  padding: 10px 15px;
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  text-decoration: none;
  transition: 0.4s;
  border-radius: 4px;
}

.project-button:hover {
  background: #5E1311;
  color: white;
}

.header-summary {
  margin-top: 10px;
}

@media only screen and (max-width: 600px) {
  .project-card {
    grid-template-columns: 1fr;
  }

  .project-card h3 {
    grid-column: span 1;
  }

  .project-links {
    flex-direction: column;
  }
}