
.project-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: repeat(2, auto); */
}

.project-card h3 {
  grid-column: span 2;
  text-align: center;
}

.project-card img {
  width: 100%;
}

.project-info {
  position: relative;
}

.project-links {
  position: absolute;
  bottom: 0px;
  display: flex;
  width: 100%;
}

.project-links button {
  padding: 10px 15px;
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
}

@media only screen and (max-width: 600px) {
  .project-card {
    grid-template-columns: 1fr;
    /* grid-template-rows: auto repeat(2, 1fr); */
  }

  .project-card h3 {
    grid-column: span 1;
  }

  .project-links {
    flex-direction: column;
  }
}