.skills-section {
  position: relative;
  background-color: #232528;
  color: white;
  height: 100%;
  /* padding-top: 58px; */
}

#skills h3 {
  text-align: left;
}

.skills-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.skills-container ul {
  margin-top: 5px;
  padding-left: 20px;
}

.skills-container div {
  margin-left: auto;
  margin-right: auto;
  /* width: 80%;
  text-align: left; */
}

/* .skills-container ul {
  margin-left: auto;
  margin-right: auto;
}

.skills-container ul {
  text-align: center;
} */

@media only screen and (max-width: 600px) {
  .skills-container {
    grid-template-columns: 1fr;
    /* grid-template-rows: repeat(3, 1fr); */
    /* height: auto; */
  }
}